## Importing pandas

### Bắt đầu và kiểm tra thiết lập pandas của bạn

Mức độ: *easy* 

**1.** Import pandas dưới bí danh `pd`.

In [8]:
import pandas as pd

**2.** In phiên bản pandas đã được nhập.

In [3]:
print(pd.__version__)

2.2.3

**3.** In ra tất cả thông tin *phiên bản* của các thư viện mà thư viện pandas yêu cầu.

In [10]:
print( pd.show_versions() )

INSTALLED VERSIONS
------------------
commit                : 0691c5cf90477d3503834d983f69350f250a6ff7
python                : 3.12.7
python-bits           : 32
OS                    : Emscripten
OS-release            : 3.1.58
Version               : #1
machine               : wasm32
processor             :
byteorder             : little
LC_ALL                : None
LANG                  : vi.UTF-8
LOCALE                : vi_VN.UTF-8

pandas                : 2.2.3
numpy                 : 2.0.2
pytz                  : 2024.1
dateutil              : 2.9.0.post0
pip                   : None
Cython                : None
sphinx                : None
IPython               : 8.23.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : None
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : None
lxml.etree            : None
matplotlib            : None
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : None
pandas_gbq            : None
psycopg2              : None
pymysql               : None
pyarrow               : None
pyreadstat            : None
pytest                : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : None
qtpy                  : None
pyqt5                 : None
None

## DataFrame

### Một số thói quen cơ bản để lựa chọn, sắp xếp, thêm và tổng hợp dữ liệu trong DataFrames

Mức độ khó: *easy*

Chú ý: nhớ import numpy sử dụng:
```python
import numpy as np
```

Hãy xem xét Dictionary Python `data` và list Python `labels` sau:

``` python
data = {'animal': ['snake', 'cat', 'snake', 'dog', 'snake', 'cat', 'snake', 'cat', 'dog', 'cat'],
        'age': [3, 3.5, 0.5, np.nan, 6, 2.5, 4.5, np.nan, 4, 2],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(Đây chỉ là một số dữ liệu vô nghĩa mà tác giả tạo ra với chủ đề về động vật và những chuyến đi khám bác sĩ thú y.)

**4.** Tạo một DataFrame `df` từ từ điển `data` có chỉ mục `labels`.

In [97]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#df = (hoàn thành code của dòng này)

df = pd.DataFrame( data, index = labels )
print ( df )

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**5.** Hiển thị tóm tắt thông tin cơ bản về DataFrame này và dữ liệu của nó (*gợi ý: chỉ có một phương thức có thể được gọi trên DataFrame*).

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 280.0+ bytes

**6.** Trả về 3 hàng đầu tiên của DataFrame `df`.

In [99]:
print ( df.head(3) )

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**7.** Chỉ chọn các cột 'động vật' và 'tuổi' từ DataFrame `df`.

In [100]:
print( df[ ['animal', 'age' ] ])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**8.** Chọn dữ liệu ở hàng `[3, 4, 8]` *và* ở cột `['animal', 'age']`.

In [101]:
print( df.loc[ ['d', 'e', 'i'], ['animal', 'age'] ] )

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**9.** Chỉ chọn những hàng có số lượt visits lớn hơn 3.

In [102]:
print( df[ df[ 'visits'] > 3 ]  )

print ()

print( df.loc[ df['visits'] > 3 ]  )

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**10.** Chọn những hang có age bị thiếu dữ liệu, i.e. `NaN`.

In [103]:
print( df[ df['age'].isna() ] )

print()

print( df.loc[ df['age'].isna() ] )

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**11.** Chọn những hàng có animal là cat *và*  age nhỏ hơn 3.

In [104]:
print( df[ (df['animal'] == 'cat' ) & ( df['age'] < 3 ) ] )

print()

print( df.loc[ (df['animal'] == 'cat' ) & (df['age'] < 3) ])

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**12.** Chọn những hàng có age nằm giữa 2 và 4 (bao gồm).

In [105]:
print( df[ ( df['age'] > 2 ) & ( df['age'] < 4 ) ] )

print()

print( df.loc[ (df['age'] > 2 ) & ( df['age'] < 4)] )

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

**13.** Thay đổi age ở hàng 'f' thành 1.5.

In [106]:
df.loc[ 'f', 'age'] = 1.5
print( df )

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**14.** Tính tổng tất cả số lần visits trong `df`.

In [107]:
print( df['visits'].sum() )

19

**15.** Tính độ tuổi trung bình của mỗi loài động vật khác nhau trong `df`.

In [108]:
print( df.groupby('animal')['age'].mean() )

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**16.** Thêm một hàng mới 'k' vào `df` với giá trị bạn chọn cho mỗi cột. Sau đó xóa hàng đó để trả về DataFrame gốc.

In [109]:
df.loc[ 'k' ] = [ 'bird', 4.0, 5, 'yes']
print(df)
print()
df = df.drop( 'k' )
print(df )

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k   bird  4.0       5      yes

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**17.** Đếm số lượng của từng loại động vật trong `df`.

In [110]:
print( df['animal'].value_counts() )

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

**18.** Sắp xếp `df` trước tiên theo các giá trị trong 'age' theo thứ tự *giảm dần (decending)*, sau đó theo giá trị trong cột 'visits' theo thứ tự *tăng dần* (do đó, hàng `i` phải là đầu tiên và hàng `d` phải là cuối cùng).

In [111]:
df_sorted = df.sort_values( by = ['age', 'visits'], ascending= [False, True] )
print( df_sorted )

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

**19.** Cột 'priority' chứa các giá trị 'yes' và 'no'. Thay thế cột này bằng một cột giá trị boolean: 'yes' phải là `True` và 'no' phải là `False`.

In [136]:
temp = df.copy()
temp['priority'] = temp['priority'].map( {'yes' : True, 'no' : False})
print(temp)

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

**20.** Trong cột 'animal', hãy đổi mục 'snake' thành 'python'.

In [143]:
temp1 = df.copy()
temp1['animal'] = temp1['animal'].apply( lambda x : 'python' if x == 'snake' else x)
print(temp1)

print()

temp2 = df.copy()
temp2.loc[ temp2['animal'] == 'snake', 'animal'] = 'python'
print(temp2)

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c  python  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g  python  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c  python  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g  python  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no

**21.** Đối với mỗi loại động vật và mỗi số lần thăm khám, hãy tìm độ tuổi trung bình. Nói cách khác, mỗi hàng là một con vật, mỗi cột là một số lần thăm khám và các giá trị là độ tuổi trung bình (*gợi ý: sử dụng pivot table*).

In [145]:
temp3 = df.copy()
pivotTable = temp3.pivot_table( values = 'age', index = 'animal', columns = 'visits', aggfunc = 'mean')
print( pivotTable )

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
snake   4.5  0.5   NaN

## DataFrames: vượt ra ngoài những điều cơ bản

### Khó hơn một chút: bạn có thể cần kết hợp hai hoặc nhiều phương pháp để có được câu trả lời đúng

Độ khó: *medium*

Phần trước đã giới thiệu một số thao tác DataFrame cơ bản nhưng thiết yếu. Dưới đây là một số cách bạn có thể cần cắt dữ liệu của mình, nhưng không có phương pháp "sẵn có" nào.

**22.** Bạn có một DataFrame `df` với một cột 'A' gồm các số nguyên. Ví dụ:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

Làm thế nào để lọc ra các hàng chứa cùng số nguyên với hàng ngay phía trên?

Bạn sẽ thấy một cột chứa các giá trị sau:

```python
1, 2, 3, 4, 5, 6, 7
```

In [147]:
df1 = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
unique_row = df1[ df1['A'] != df1['A'].shift() ] 
print(unique_row)

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

**23.** Cho một DataFrame các giá trị số, chẳng hạn
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

Làm thế nào để trừ giá trị trung bình của hàng khỏi mỗi phần tử trong hàng?

In [151]:
df2 = pd.DataFrame(np.random.random(size=(5, 3)))
df2 = df2.sub( df2.mean(axis = 1) , axis = 0)
print(df2)

          0         1         2
0  0.403229 -0.077960 -0.325268
1 -0.045656 -0.337538  0.383194
2  0.183254 -0.120705 -0.062549
3 -0.027742 -0.094318  0.122060
4  0.160142  0.132693 -0.292835

**24.** Giả sử bạn có DataFrame với 10 cột số thực, ví dụ:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Cột số nào có tổng nhỏ nhất? Trả về nhãn của cột đó.

In [155]:
df3 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
min_sum_col = df3.sum().idxmin()
print(df3)
print("Cột có tổng nhỏ nhất là : ", min_sum_col)

          a         b         c         d         e         f         g  \
0  0.658400  0.201154  0.539701  0.793933  0.626549  0.927142  0.214691
1  0.285069  0.523604  0.699175  0.227314  0.430705  0.944452  0.109761
2  0.839250  0.473663  0.672724  0.686797  0.522682  0.377046  0.185280
3  0.651234  0.271269  0.858177  0.533101  0.488003  0.573277  0.822968
4  0.009817  0.671484  0.617913  0.012339  0.309849  0.594983  0.833030

          h         i         j
0  0.098714  0.371328  0.070810
1  0.190647  0.140394  0.430602
2  0.854302  0.052218  0.681066
3  0.371299  0.742701  0.462881
4  0.191306  0.923244  0.258390
Cột có tổng nhỏ nhất là :  h

**25.** Làm thế nào để đếm số lượng hàng duy nhất mà một DataFrame có (tức là bỏ qua tất cả các hàng trùng lặp)? Khi nhập, hãy sử dụng DataFrame gồm số không và số một với 10 hàng và 3 cột.

```python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```

In [161]:
df4 = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
unique_row = df4.drop_duplicates()
print( unique_row )
print()
unique_row = unique_row.shape[0] #đếm số lượng hàng
print( unique_row )

   0  1  2
0  0  0  0
1  0  0  1
2  1  1  0
3  1  1  1
8  1  0  0
9  1  0  1

6